{% extends 'main.html' %}
{% load static %}
{% block context%}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    .about-us {
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 90px 0;
        background: #fff;
    }
    .pic {
        height: auto;
        width: 200px;
        border-radius: 12px;
        padding-right: 10px;
    }
    .about {
        width: 1130px;
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .text {
        width: 540px;
    }
    .text h2 {
        padding-top: 30px;
        color: #333;
        font-size: 70px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .text h5 {
        color: #333;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    span {
        color: #4070f4;
    }
    .text p {
        color: #333;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1px;
    }
    .data {
        margin-top: 30px;
        text-align: center; /* Added to align "Hire Me" in the center */
    }
    .hire {
        padding-top: 5px ;
        font-size: 18px;
        background: #4070f4;
        color: #fff;
        text-decoration: none;
        border: none;
        padding: 12px 25px;
        border-radius: 6px;
        transition: 0.5s;
        display: inline-block; /* Added to center the anchor element */
    }
    .hire:hover {
        background: #000;
    }

</style>
<section class="about-us">
    <div class="about">
        <img src="{% static 'images/developer.jpeg' %}" class="pic" />
        <div class="text">
            
            <h2>About Us</h2>
            <h5>back-end Developer & <span>coder</span></h5>
            <p>Hello there! I'm Shaheen, a passionate and self-taught back-end developer and a dedicated student on a journey to explore the exciting world of technology and programming.
                </p>
            <p> About Me:
                Since my early days as a tech enthusiast, I have been captivated by the art of
                programming and a thirst for knowledge, I embarked on a self-taught journey to become a back-end
                developer. allowing me to constantly push my limits and expand my skill set.
            </p>
            <div class="data">
                <a href="{% url 'contact' %}" class="hire">Hire Me</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}